.min-h-screen.bg-gray-200.flex.flex-col.items-center.justify-start
  .flex.flex-col.items-center.justify-center.text-center.pt-10.h-150
    h1.text-6xl.font-bold.text-blue-600
      | PHP8技術者認定初級試験スタディ
    h2.text-2xl.text-gray-700.mt-6
      | 効率的な学習で、合格を目指そう。

    = link_to '/auth/github', class: 'mt-10 flex items-center gap-2 bg-gray-600 text-white font-semibold py-2.5 px-10 rounded-lg shadow-sm hover:bg-gray-700 hover:shadow-md active:scale-95 transition-all duration-150'
      i.fab.fa-github.text-xl
      span GitHubでログイン

  / 区切り線
  hr.w-full.border-t-2.border-gray-400.my-10

  / 説明コンテンツ部分
  .w-11/12.md:w-4/5.flex.flex-col.md:flex-row.justify-between.items-stretch.text-center.md:text-left.space-y-8.md:space-y-0.md:space-x-10.pb-16

    / 1つ目のカード
    .flex-1.bg-white.rounded-xl.shadow.p-6.flex.flex-col
      h3.text-2xl.font-bold.text-blue-600.mb-4
        | 選べる2タイプの出題で効率的に勉強
      ul.space-y-3.text-gray-700.text-lg
        li.flex.items-center
          span.w-3.h-3.mr-3.bg-blue-500.rounded-full.flex-shrink-0
          | 全ての学習方法は無料
        li.flex.items-center
          span.w-3.h-3.mr-3.bg-blue-500.rounded-full.flex-shrink-0
          | 問題は公式出題範囲から抜粋
        li.flex.items-center
          span.w-3.h-3.mr-3.bg-blue-500.rounded-full.flex-shrink-0
          | 認定市販教材解説ページの案内有り

    / 2つ目のカード
    .flex-1.bg-white.rounded-xl.shadow.p-6.flex.flex-col
      h3.text-2xl.font-bold.text-blue-600.mb-4
        | 模擬試験タイプで実力をチェック
      ul.space-y-3.text-gray-700.text-lg
        li.flex.items-center
          span.w-3.h-3.mr-3.bg-blue-500.rounded-full.flex-shrink-0
          | 出題比率は公式と同様
        li.flex.items-center
          span.w-3.h-3.mr-3.bg-blue-500.rounded-full.flex-shrink-0
          | ランダムで変わる問題
        li.flex.items-center
          span.w-3.h-3.mr-3.bg-blue-500.rounded-full.flex-shrink-0
          | 受験結果で成長を実感

    / 3つ目のカード
    .flex-1.bg-white.rounded-xl.shadow.p-6.flex.flex-col
      h3.text-2xl.font-bold.text-blue-600.mb-4
        | フリー出題で学習
      ul.space-y-3.text-gray-700.text-lg
        li.flex.items-center
          span.w-3.h-3.mr-3.bg-blue-500.rounded-full.flex-shrink-0
          | 全問題からランダムで出題
        li.flex.items-center
          span.w-3.h-3.mr-3.bg-blue-500.rounded-full.flex-shrink-0
          | 好きな時間に好きなだけ
